<div class="step-datos">
  <div class="form-container">
    <h2 style="color: #ff8800; text-align: center; margin-top: 60px; margin-bottom: 15px; font-size: 1rem;">Validar Certificado</h2>

    <form class="content-medio">
      <div class="form-group">
        <label for="codigoCertificado">Código del certificado</label>
        <input 
          type="text" 
          id="codigoCertificado" 
          placeholder="Ingrese el código" 
          maxlength="50"
          [(ngModel)]="codigo"
          name="codigo"
          [ngModelOptions]="{standalone: true}"
          (keyup.enter)="onValidar()"
          [disabled]="verificando">
      </div>

      <div class="form-group">
        <label for="documentoEstudiante">Documento del estudiante</label>
        <input 
          type="text" 
          id="documentoEstudiante" 
          placeholder="Ingrese el documento" 
          maxlength="20"
          [(ngModel)]="documento"
          name="documento"
          [ngModelOptions]="{standalone: true}"
          (keyup.enter)="onValidar()"
          [disabled]="verificando">
      </div>

      <div class="buttons-container">
        <button 
          type="button"
          class="btn btn-primary" 
          (click)="onValidar()"
          [disabled]="verificando">
          INGRESAR
        </button>
      </div>
    </form>
  </div>
</div>
