
<div class="preview-layout">
  <div class="content-medio">
    <div class="form-group">
      <label for="nombre_completo">Nombre completo</label>
      <input type="text" id="nombre_completo" name="nombre_completo" [value]="nombreEstudiante" readonly placeholder="Sin datos">
    </div>

    <div class="form-group">
      <label for="documento_identidad">Documento de identidad</label>
      <input type="text" id="documento_identidad" name="documento_identidad" [value]="documentoIdentidad" readonly placeholder="Sin datos">
    </div>
    <div class="form-group">
      <label for="numero_estudiante">Número de estudiante</label>
      <input type="text" id="numero_estudiante" name="numero_estudiante" [value]="numeroEstudiante" readonly placeholder="Sin datos">
    </div>
      <div class="form-group">
      <label for="certificado_preview">Tipo de certificado</label>
      <input type="text" id="certificado_preview" name="certificado_preview" [value]="titulo" readonly placeholder="Sin datos">
    </div>
  </div>

  <div class="caja__preview">
    <div class="badge-preview">Vista Previa</div>
    <div class="certificado-wrapper">
      <div id="certificadoPreviewDemo" class="certificado" [innerHTML]="certificadoHTML"></div>
    </div>
  </div>
</div>
