.content-medio {
  background: rgb(0, 0, 0);
  padding: 30px;
  border-radius: 15px;
  max-width: 400px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 20px;
  text-align: left;
}

.form-group label {
  display: block;
  margin-bottom: 10px;
  color: #ff8800;
  font-weight: 600;
  font-size: 0.95rem;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 12px 15px;
  border: none;
  border-radius: 8px;
  font-size: 0.9rem;
  background: rgb(255, 255, 255);
  color: #000;
  font-weight: 500;
}

.form-group input:focus,
.form-group select:focus {
  outline: 2px solid #ff8800;
}

.required {
  color: red;
}

.buttons-container {
    width: 100%;
  padding: 1px 15px;
  margin-top: 20px;
}

.btn {
  padding: 12px 2px;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-primary {
  background: #ff8800;
  color: white;
}

.btn-primary:hover {
  background: #f57c00;
  transform: translateY(-2px);
  box-shadow: 0 0px 20px rgba(255, 181, 69, 0.993);
}
